# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SingleScreenGame - Game Design 2.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\College\Github\Single-Screen-Game\SingleScreenGame - Game Design 2\.idea\.idea.SingleScreenGame - Game Design 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
